@import '../../../variables.css';
main {
  margin-top: 6rem;
  min-width: 100vw;
}

.homepage {
  padding: 15px;
}

main .homepage h1 {
  margin-bottom: 1.125rem;
  text-align: center;
}

main .homepage .page-heading {
  text-align: center;
}

main .homepage p {
  text-align: justify;
}

main .homepage .ytvideo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

main .homepage .ytvideo iframe {
  width: 95vw;
  max-width: var(--max-width);
  height: 20rem;
  border: 2px solid var(--clr-secondary-5);
  border-radius: var(--radius);
}

main .homepage .box-container {
  margin-top: 1.5rem;
  display: grid;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: 90vw;
  column-gap: var(--gap-2);
  row-gap: var(--gap-2);
}

main .homepage .box-container .box-item {
  border: 1px solid var(--clr-secondary-5);
  border-radius: var(--radius);
  padding: 1.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}

main .homepage .box-container .box-item:hover,
main .homepage .box-container .box-item:focus {
  transform: scale(1.02);
}

main .homepage .box-container .box-item p {
  padding: 0 0.625rem;
}

.hide-link {
  display: none;
}

/* Media queries */

@media screen and (min-width: 768px) {
  main .homepage {
    padding: 20px;
  }

  main .homepage .ytvideo iframe {
    height: 25rem;
  }

  main .homepage .box-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: var(--gap-3);
    row-gap: var(--gap-3);
  }

  main .homepage .box-container .box-item:hover,
  a main .homepage .box-container .box-item:focus {
    transform: scale(1.07);
  }
}
