.trainings {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 auto;
}

.trainings img {
  width: 95%;
  cursor: pointer;
  margin-top: var(--size-26);
}

.trainings img:hover,
.trainings img:focus {
  animation: borderImg 1.75s ease-in-out;
  border: var(--size-2) solid rgba(255, 105, 32, 1);
  border-radius: var(--size-3);
}

@keyframes borderImg {
  0% {
    border: var(--size-2) solid rgba(255, 105, 32, 0.2);
  }
  25% {
    border: var(--size-2) solid rgba(255, 105, 32, 0.4);
  }
  50% {
    border: var(--size-2) solid rgba(255, 105, 32, 0.6);
  }
  75% {
    border: var(--size-2) solid rgba(255, 105, 32, 0.8);
  }
  100% {
    border: var(--size-2) solid rgba(255, 105, 32, 1);
  }
}

/* Media queries */

@media screen and (min-width: 600px) {
  .trainings {
    align-items: center;
    height: 90vh;
  }

  .trainings img {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
